{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>

{% block html_tag %}
<html>
{% endblock html_tag %}

{% block head %}
<head>
    <meta charset="UTF-8" />
    {% block head_style %}
    {# Override this block to add your own files! #}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
        '@MopaBootstrapBundle/Resources/public/less/eyecon-datepicker.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {# To use this without less use the base_css.html.twig template as your base
     # Be sure you understand whats going on: have a look into
     # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
     #}
    {% endblock head_style %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head_script %}
    {# Overwrite this block to add your own js here, to get them generated into final files #}
    {% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock head_script %}

    <title>{% block title %}Mopa Bootstrap Bundle{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {% block head_bottom %}
    {% endblock head_bottom %}
</head>
{% endblock head %}

{% block body_tag %}
<body data-spy="scroll">
{% endblock body_tag %}

{% block body_start %}
{% endblock body_start %}

{% block body %}
    {% block navbar %}
    {{ mopa_bootstrap_menu('frontendNavbar') }}
    {% endblock navbar %}

    {% block container %}
    {% block container_div_start %}<div class="{% block container_class %}container{% endblock container_class %}">{% endblock container_div_start %}
        {% block header %}
        {% endblock header %}

        {% block content_div_start %}<div class="content">{% endblock content_div_start %}
            {% block page_header %}
            <div class="page-header">
                  <h1>{% block headline %}Mopa Bootstrap Bundle{% endblock headline %}</h1>
            </div>
            {% endblock page_header %}

            {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
            <div class="row">
                <div class="col-sm-12">
                {{ session_flash() }}
                </div>
            </div>
            {% endif %}
            {% endblock flashes %}

            {% block content_row %}
            <div class="row">
                {% block content %}
                <div class="col-sm-9">
                    {% block content_content %}
                    <strong>Hier könnte Ihre Werbung stehen ... </strong>
                    {% endblock content_content %}
                </div>
                <div class="col-sm-3">
                    {% block content_sidebar %}
                    <h2>Sidebar</h2>
                    {% endblock content_sidebar %}
                </div>
                {% endblock content %}
            </div>
            {% endblock content_row %}
        {% block content_div_end %}</div>{% endblock content_div_end %}
        <footer>
            {% block footer %}
            <p>&copy; <a href="http://www.mohrenweiserpartner.de" target="_blank">Mohrenweiser & Partner</a> 2011-2013</p>
            {% endblock footer %}
        </footer>
    {% block container_div_end %}</div><!-- /container -->{% endblock container_div_end %}
    {% endblock container %}
    {% block foot_script %}
    {# To only use a subset or add more js overwrite and copy paste this block
    To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
    Otherwise the regeneration is done on every load in dev more with use_controller: true
     #}
     
    {% javascripts
        '@MopaBootstrapBundle/Resources/bootstrap/js/tooltip.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/affix.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/alert.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/button.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/carousel.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/collapse.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/dropdown.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/modal.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/popover.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/scrollspy.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/tab.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/transition.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
        '@MopaBootstrapBundle/Resources/public/js/eyecon-bootstrap-datepicker.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
            $(document).ready(function () {
                $('[data-toggle="popover"]').popover();
            });
        </script>
{% endblock foot_script %}
{% endblock body %}
</body>
</html>
