{% macro flash(type, message, close, use_raw) %}
    <div class="alert alert-{{ type }} fade in">
	{% if close|default(false) %}
        <a class="close" data-dismiss="alert" href="#">×</a>
	{% endif %}
	{% if use_raw|default(false) %}
	    {{ message|trans|raw }}
	{% else %}
	    {{ message|trans }}
	{% endif %}
    </div>
{% endmacro %}

{% macro session_flash(type, close, use_raw, class) %}
    {% set types = ['info', 'error', 'warning', 'success'] %}
    {% if app.session.flashbag.peekAll|length > 0 %}
        <div class="row">
            <div class="{{ class|default('span12') }}">
                {% if type|default(false) %}
                    {% if app.session.flashbag.has(type) %}
                        {% for message in app.session.flashbag.get(type) %}
                            {{ _self.flash(type, message, close|default(false, use_raw|default(false))) }}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% for type in types %}
                        {% if app.session.flashbag.has(type) %}
                            {% for message in app.session.flashbag.get(type) %}
                                {{ _self.flash(type, message, close|default(false, use_raw|default(false))) }}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}
