{% macro icon(name, inverted) %}
<span class="glyphicon glyphicon-{{ name }}"{% if inverted|default(false) %} style="color: white;"{% endif %}></span>
{% endmacro %}

{% block fontawesome -%}
    <i class="fa fa-{{ icon }}{{ inverted ? ' fa-inverse' : '' }}{{ size ? ' fa-' ~ size : '' }}{{ fixed_width ? ' fa-fw' : '' }}{{ list_icon ? ' fa-li' : '' }}{{ spin ? ' fa-spin' : '' }}{{ rotate and (rotate==90 or rotate==180 or rotate==270) ? ' fa-rotate-' ~ rotate : '' }}{{ flip_horizontal ? ' fa-flip-horizontal' : '' }}{{ flip_vertical ? ' fa-flip-vertical' : '' }}"></i>
{%- endblock %}

{% block glyphicons -%}
<span class="glyphicon glyphicon-{{ icon }}"{% if inverted|default(false) %} style="color: white;"{% endif %}></span>
{%- endblock %}
