{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8" />
{% block head_style %}
{# Add your own bundles css here, to get them generated into final files #}
{% stylesheets filter='less,cssembed,?yui_css' 
	    	'@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
	    %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet"
	media="screen" />
{% endstylesheets %}
{# if you dont use less, try this:
   be warned paginator.less isnt compiled yet so its missing

{% block head_style %}
{% stylesheets filter='less,cssembed,?yui_css' 
	    	'@MopaBootstrapBundle/Resources/bootstrap/bootstrap.css'
	    	'@YourNiceBundle/Resources/public/css/*'
	    %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet"
	media="screen" />
{% endstylesheets %}


#}

{% endblock head_style %}
{% block head_script %}
{#
Add your own bundles js here, to get them generated into final files
You can deactivate unneeded js by removing them, but be careful they
rely on each other The Order they are provided here should be correct,
so you may remove them bottom up #}
{%- javascripts
	    	'http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js'
	    	'@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
	    	'@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
	    	'@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
	    	'@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tabs.js'
	    	'@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-twipsy.js'
	    	'@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
	    	'@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alerts.js'
	    	'@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-buttons.js'
	    	filter="?yui_js"
	    %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{%- endblock head_script %}
<title>{% block title %}Mopa Bootstap Bundle{% endblock %}</title>
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% block topbar %}
	<div class="topbar" data-dropdown="dropdown">
		<div class="topbar-inner">
			<div class="container">
				<h3>
					<a href="http://www.mohrenweiserpartner.de">MopaBootstrapBundle</a>
				</h3>
				<ul class="nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="http://www.symfony.com" target="_blank">Symfony</a></li>
					<li><a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a></li>
					<li><a href="http://nodejs.org/" target="_blank">node.js</a></li>
					<li><a href="http://lesscss.org/" target="_blank">lesscss</a></li>
				</ul>
				<form class="pull-left" action="">
					<input type="text" placeholder="Search">
				</form>
				<ul class="nav secondary-nav">
					<li class="menu"><a href="#" class="dropdown-toggle">Dropdown</a>
						<ul class="menu-dropdown">
							<li><a href="http://www.mohrenweiserpartner.de" target="_blank">Mohrenweiser &
									Partner</a></li>
							<li class="divider"></li>
							<li><a href="#">Another link</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	{% endblock topbar %}
	
	{% block container %}
	<div class="container">
      <div class="content">
        <div class="page-header">
              <h1>{% block headline %}Mopa Bootstap Bundle{% endblock %}</h1>
        </div>
		{% block flashes %}
		    {{ session_flash() }}
		{% endblock flashes %}
		<div class="row">
			{% block content %}
			<div class="span12">
				<strong>Hier könnte Ihre Werbung stehen ... </strong>
			</div>
			<div class="span4">
				{% block content_sidebar %}

				{% endblock content_sidebar %}
			</div>
			{% endblock content %}
		</div>
      </div>

      <footer>
        <p>&copy; <a href="http://www.mohrenweiserpartner.de" target="_blank">Mohrenweiser & Partner</a> 2011</p>
      </footer>
	</div> <!-- /container -->
	{% endblock container %}
	{% block foot_script %}
	{% endblock foot_script %}
</body>
</html>
