{{ "{% extends 'MopaBootstrapBundle::layout.html.twig' %}" }}

{{ "{% block content %}" }}
<form action="{{ "{{ path('"~ route_name_prefix ~"_update', { 'id': entity.id }) }}" }}" method="post" {{ "{{ form_enctype(edit_form) }}" }}>
  <fieldset>
  <legend>{{ entity }} edit</legend>
  
    {{ "{{ form_widget(edit_form) }}" }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Edit</button>
        {% set hide_edit, hide_delete = true, false %}
        {% include 'views/others/record_actions.html.twig' %}
    </div>
  </fieldset>  
</form>
{{ "{% endblock %}" }}