{% extends 'MopaBootstrapBundle::layout.html.twig' %}

{{ "{% block content %}" }}
<form action="{{ "{{ path('"~ route_name_prefix ~"_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
  <fieldset>
  <legend>{{ entity }} creation</legend>

    {{ "{{ form_widget(form) }}" }}
    <div class="actions">
        <button type="submit" class="btn primary">Create</button>
    </div>
  </fieldset>
</form>

{% set hide_edit, hide_delete = true, true %}
{% include 'views/others/record_actions.html.twig' %}
{{ "{% endblock %}" }}