{% block navbar %}
<div class="navbar {% if navbar.getOption('fixedTop') %}navbar-fixed-top{% endif %}">
	<div class="navbar-inner">
		<div class="container{% if navbar.getOption('isFluid') %}-fluid{% endif %}">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
    		<a class="brand" href="{{ path(navbar.getOption('titleRoute')) }}">{{ navbar.getOption('title') }}</a>
            <div class="nav-collapse">
                {{ navbar.getMenu('leftmenu') ? knp_menu_render(navbar.getMenu('leftmenu'), {'currentClass': 'active', 'ancestorClass': 'active'}) : '<span class="no-leftmenu">no left menu defined</span>' }}
                {% if navbar.hasFormView('searchform') %}
                    {% form_theme navbar.getFormView('searchform') _self %}
                        <form  class="navbar-search pull-left" method="post" action="{{ navbar.getFormRoute('searchform') }}">
                        {{ form_row(navbar.getFormView('searchform')) }}
                        {% if navbar.getFormType('searchform').getButtonValue() %}
                        	<input class="btn primary" value="{{ navbar.getFormType('searchform').getButtonValue() }}" type="submit">
                        {% endif %}
                    </form>
                {% endif %}
                {{ navbar.getMenu('rightmenu') ? knp_menu_render(navbar.getMenu('rightmenu'), {'currentClass': 'active', 'ancestorClass': 'active'}) : '' }}
            </div>

		</div>
	</div>
</div>
{% endblock %}

{% block form_widget %}
{{ block('field_rows') }}
{% endblock %}

{% block field_row %}
{{ form_widget(form) }}
{% endblock field_row %}
