<a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}" class="btn">
    Back to the list
</a>
{% if ('edit' in actions) and (not hide_edit) %}
    <a href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}" class="btn primary">
        Edit
    </a>
{% endif %}
{% if ('delete' in actions) and (not hide_delete) %}
    <form action="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}" method="post">
        {{ '{{ form_widget(delete_form) }}' }}
        <button type="submit" class="btn danger">Delete</button>
    </form>
{% endif %}
