{% extends 'form_div_layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{# Buttons #}
{% block button_attributes %}
    {% set attr = attr|merge({class: 'btn ' ~ attr.class | default("")}) %}
    {{ parent() }}
{% endblock button_attributes %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
    {% if icon is not empty %} <i class="icon-{{ icon }}{% if icon_color is not empty %} icon-{{ icon_color }}{% endif %}"></i> {% endif %} {{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}

{# Widgets #}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% if type != 'hidden' and widget_addon.type|default(null) is not null %}
    <div class="input-{{- widget_addon.type -}}{% if colorpicker|default(false) %} colorpicker-component colorpicker-element {{ name }}" id="colorpicker-{{ name -}}{% endif %}">
        {% if widget_addon.type == 'prepend' %}
            {{ block('widget_addon') }}
        {% endif %}
    {% endif %}
    {% if not widget_remove_btn|default(null) %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' not-removable'}) %}
    {% endif %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% if type != 'hidden' and  widget_addon.type|default(null) is not null %}
        {% if widget_addon.type == 'append' %}
            {{ block('widget_addon') }}
        {% endif %}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
{% spaceless %}
    {% if form.parent == null %}
        {% if render_fieldset %}<fieldset>{% endif %}
        {% if show_legend %}{{ block('form_legend') }}{% endif %}
    {% endif %}
    {{ block('form_rows_visible') }}
    {{ form_rest(form) }}
    {% if form.parent == null %}
        {% if render_fieldset %}</fieldset>{% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_widget_compound %}

{% block collection_widget %}
{% spaceless %}
    {{ block('form_widget') }}
{% endspaceless %}
{% endblock collection_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' ' ~ (multiple ? 'checkbox' : 'radio'))}) %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (widget_type ? widget_type : ''))}) %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (inline is defined and inline ? 'inline' : ''))|trim}) %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ form_widget(child, {'attr': {'class': attr.widget_class|default('')}}) }}
            {{ child.vars.label|trans({}, translation_domain) }}
        </label>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% if widget_addon.type == 'prepend' %}
            {{ block('widget_addon') }}
        {% endif %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
        {% if widget_addon.type == 'append' %}
            {{ block('widget_addon') }}
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block checkbox_widget %}
{% spaceless %}
{% if label is not same as(false) and label is empty %}
    {% set label = name|humanize %}
{% endif %}
{% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes and label_render %}
    <label class="checkbox{% if inline is defined and inline %} inline{% endif %}">
{% endif %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}/> {{ help_inline|trans({}, translation_domain)|raw }}
{% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
    {% if label_render and widget_checkbox_label in ['both', 'widget'] %}
        {{ label|trans({}, translation_domain) }}
        {% if widget_checkbox_label == 'widget' %}
            {{ block('label_asterisk') }}
        {% endif %}
    {% endif %}
    {% set help_inline = false %}
    {% if label_render %}
    </label>
    {% endif %}
{% endif %}
{% endspaceless %}
{% endblock checkbox_widget %}

{% block date_widget %}
{% spaceless %}
{% if widget == 'single_text' %}
    {% if datepicker is defined %}
        <div class="input-{{ widget_addon.type }} date" {{ block('widget_container_attributes') }} data-date="{{ value }}" data-date-format="{{ format|lower }}" data-form="datepicker">
            {% if widget_addon.type == 'prepend' %}
                {{ block('widget_addon') }}
            {% endif %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' not-removable grd-white'}) %}
            <input type="text" {{ block('widget_attributes') }} value="{{ value }}"  data-form="datepicker" data-date-format="{{ format|lower }}"/>
            {% if widget_addon.type == 'append' %}
                {{ block('widget_addon') }}
            {% endif %}
            <script type="text/javascript">
                $(document).ready(function () {
                    $({{ id }}).datepicker();
                    $({{ id }}).datepicker().on(
                            "changeDate",
                            function(event){
                                $({{ id }}).datepicker('hide');
                            }
                    )
                });
            </script>
        </div>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% else %}
        {% set attrYear = attr|merge({'class': attr.class|default('inline') ~ ' input-small'}) %}
        {% set attrMonth = attr|merge({'class': attr.class|default('inline') ~ ' input-mini'}) %}
        {% set attrDay = attr|merge({'class': attr.class|default('inline') ~ ' input-mini'}) %}

            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year, {'attr': attrYear}),
                '{{ month }}': form_widget(form.month, {'attr': attrMonth}),
                '{{ day }}':   form_widget(form.day, {'attr': attrDay}),
            })|raw }}
        {{ block('help') }}
{% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set attr = attr|merge({'class': attr.class|default('inline')}) %}
        <div {{ block('widget_container_attributes')  }}>
            {{ form_widget(form.hour, { 'attr': {  'size': '1', 'class': 'input-mini' } }) }}{% if with_minutes %}:{{ form_widget(form.minute, { 'attr': { 'size': '1', 'class': 'input-mini' } }) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second, { 'attr': { 'size': '1', 'class': 'input-mini' } }) }}{% endif %}
        </div>
        {{ block('help') }}
    {% endif %}
{% endspaceless %}
{% endblock time_widget %}

{% block hexcolor_widget %}
    {% spaceless %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
        <script type="text/javascript">
        $(document).ready(function () {
            $('#colorpicker-{{ name }}').colorpicker();
        });
        </script>
{% endblock hexcolor_widget %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
            {% set attr = attr|merge({'class': attr.class|default('')}) %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form.date) }}
                {{ form_errors(form.time) }}
                {{ form_widget(form.date, {'attr': {'class': attr.widget_class|default('')}}) }}
                {{ form_widget(form.time, {'attr': {'class': attr.widget_class|default('')}}) }}
            </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block percent_widget %}
{% spaceless %}
    {% set widget_addon = widget_addon|merge({'text': widget_addon.text|default('%')}) %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock percent_widget %}

{% block money_widget %}
{% spaceless %}
    {% set widget_addon = widget_addon|merge({'text': money_pattern|replace({ '{{ widget }}': ''})}) %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock money_widget %}

{# Labels #}

{% block form_legend %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <legend>{{ label|trans({}, translation_domain) }}</legend>
    {% if widget_add_btn %}
        {{ block('form_widget_add_btn') }}
    {% endif %}
{% endspaceless %}
{% endblock form_legend %}

{% block form_label %}
{% if 'checkbox' not in block_prefixes or widget_checkbox_label in ['label', 'both'] %}
{% spaceless %}
    {% if label is not same as(false) %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ ' control-label' ~ (required ? ' required' : ' optional') }) %}
        <label{% for attrname,attrvalue in label_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}
        {{ block('label_asterisk') }}
        {% if widget_add_btn %}
            {{ block('form_widget_add_btn') }}
        {% endif %}
        {% if help_label_tooltip_title %}
            {{ block('help_label_tooltip') }}
        {% endif %}
        {% if help_label_popover_title %}
            {{ block('help_label_popover') }}
        {% endif %}
        {% if help_label %}
            {{ block('help_label') }}
        {% endif %}
        </label>
    {% endif %}
{% endspaceless %}
{% endif %}
{% endblock form_label %}

{% block help_label %}
    <p class="help-block">{{ help_label|trans({}, translation_domain) }}</p>
{% endblock help_label %}

{% block help_label_tooltip %}
    <p class="help-inline">
        <a href="#" id="{{ id }}_tooltip" title="{{ help_label_tooltip_title|trans({}, translation_domain) }}" tabindex="-1" data-toggle="tooltip" data-placement="{{ help_label_tooltip_placement }}"><i class="{{ help_label_tooltip_icon }}"></i></a>
    </p>
{% endblock help_label_tooltip %}

{% block help_label_popover %}
    <p class="help-inline">
        <a href="#" id="{{ id }}_popover" title="{{ help_label_popover_title|trans({}, translation_domain) }}" tabindex="-1" data-toggle="popover" data-content="{{ help_label_popover_content|trans({}, translation_domain) }}" data-placement="{{ help_label_popover_placement }}" data-trigger="hover" data-html="true"><i class="{{ help_label_popover_icon }}"></i></a>
    </p>
{% endblock help_label_popover %}


{# Rows #}

{% block form_rows_visible %}
{% spaceless %}
    {% for child in form %}
        {% if 'hidden' not in child.vars.block_prefixes %}
            {% if 'collection' in form.vars.block_prefixes and not omit_collection_item %}
            <div class="collection-item {{ widget_items_attr.class|default()|join(' ') }}" id="{{ child.vars.id }}_control_group">
            {% endif %}
            {{ form_row(child) }}
            {% if 'collection' in form.vars.block_prefixes and not omit_collection_item %}
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock form_rows_visible %}

{% block form_row %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ (errors|length > 0 ? ' error' : '') }) %}
    {{ block('widget_control_group_start') }}
    {{ widget_prefix|trans({}, translation_domain)|raw }} {{ form_widget(form, _context) }} {{ widget_suffix|trans({}, translation_domain)|raw }}
    {% if widget_remove_btn is defined %}
        {{ block('form_widget_remove_btn') }}
    {% endif -%}
    {{ block('form_message') }}
    {{ block('widget_control_group_end') }}
{% endspaceless %}
{% endblock form_row %}

{# Support #}

{% block form_message %}
{% spaceless %}
    {{ form_errors(form) }}
    {{ block('form_help') }}
{% endspaceless %}
{% endblock form_message %}

{# Help #}

{% block form_help %}
{% spaceless %}
{% if 'checkbox' not in form.vars.block_prefixes %}{# checkbox widget/choice widget problem see https://github.com/phiamo/MopaBootstrapBundle/commit/67406a16b38e5b622fffdd5b9c8a8707ca73f493#commitcomment-1295951 # #}
    {% if help_inline %}<p class="help-inline">{{ help_inline|trans({}, translation_domain)|raw }}</p>{%endif %}
{% endif %}
{% if help_block %}<p class="help-block">{{ help_block|trans({}, translation_domain)|raw }}</p>{%endif %}
{% endspaceless %}
{% endblock form_help %}

{% block form_widget_add_btn %}
{% spaceless %}
    {% if widget_add_btn %}
    {% set button_type = 'add' %}
    {% set button_values = widget_add_btn %}
    {{ block('collection_button') }}
    {% endif %}
{% endspaceless %}
{% endblock form_widget_add_btn %}

{% block form_widget_remove_btn %}
{% spaceless %}
    {% if widget_remove_btn %}
    {% set button_type = 'remove' %}
    {% set button_values = widget_remove_btn %}
    {{ block('collection_button') }}
    {% endif %}
{% endspaceless %}
{% endblock form_widget_remove_btn %}

{% block collection_button %}
<a {% for attrname,attrvalue in button_values.attr %} {{attrname}}="{{attrvalue}}"{% endfor %} data-collection-{{ button_type }}-btn="#{{ form.vars['id'] }}_control_group">
{% if button_values.icon is defined %}
<i class="icon-{{ button_values.icon }} {% if button_values.icon_color is defined %}icon-{{ button_values.icon_color }}{% endif %}"></i>
{% endif %}
{{ button_values.label|trans({}, translation_domain) }}
</a>

{% endblock collection_button %}

{% block label_asterisk %}
{% if required %}
    {% if render_required_asterisk %}<span>*</span>{% endif %}
{% else %}
    {% if render_optional_text %}<span>{{ "(optional)"|trans({}, translation_domain) }}</span>{% endif %}
{% endif %}
{% endblock label_asterisk %}

{% block widget_addon %}
{% spaceless %}
{# prevent deep nesting wrong context copy error #}
{% from 'MopaBootstrapBundle::icons.html.twig' import icon %}
<span class="add-on">{{ (widget_addon.text|default(false) ? widget_addon.text|trans({}, translation_domain) : widget_addon.icon|default(false) ? icon(widget_addon.icon) : '' )|raw('html') }} {{ (widget_addon.html|default(false) ? widget_addon.html|raw('html') : '')  }}</span>
{% endspaceless %}
{% endblock widget_addon %}

{# Errors #}

{% block _form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul>
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock _form_errors %}

{% block form_errors %}
{% spaceless %}
{% if errors_on_forms and form.parent == null %}
    {# prevent deep nesting wrong context copy error #}
    {% from 'MopaBootstrapBundle::flash.html.twig' import flash %}
    {% for error in errors %}
        {{
            flash(
                'error',
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            )
        }}
    {% endfor %}
{% elseif error_delay %}
    {% for child in form %}
        {% if loop.index == 1 %}
            {% if child.set('errors', errors) %}{% endif %}
        {% endif %}
    {% endfor %}
{% else %}
    {% if errors|length > 0 %}
    <span class="help-{{ block('error_type') }}">
        <span class="text-error">
            {% for error in errors %}
                {{
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }} <br>
            {% endfor %}
        </span>
    </span>
    {% endif %}
{% endif %}
{% endspaceless %}
{% endblock form_errors %}


{# used to determine which type of error #}

{% block error_type %}
{% spaceless %}
{% if error_type %}
    {{ error_type }}
{% elseif form.parent == null %}
    {{ form.vars.error_type | default('inline') }}
{% else %}
inline
{% endif %}
{% endspaceless %}
{% endblock error_type %}

{# widget helper blocks #}

{% block widget_control_group_start %}
{% spaceless %}
{% if widget_control_group|default(false) or form.parent == null %}
    {% if prototype is defined %}
        {% set data_prototype = 'collection' in form.vars.block_prefixes and not omit_collection_item ? '<div class="collection-item ' ~ widget_items_attr.class|default()|join(' ') ~ '" id="' ~ prototype.vars.id ~ '_control_group">' ~ form_row(prototype) ~ '</div>' : form_row(prototype) %}
        {% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}
        {% set widget_control_group_attr = widget_control_group_attr|merge({'data-prototype': data_prototype, 'data-prototype-name': data_prototype_name, 'data-widget-controls': widget_controls|default(false) ? 'true' : 'false'})|merge(attr) %}
    {% endif %}
    {% set widget_control_group_attr = widget_control_group_attr|merge({'id': id ~ '_control_group', 'class': widget_control_group_attr.class|default('') ~ ' control-group'}) %}
    {% if errors|length > 0 %}
        {% set widget_control_group_attr = widget_control_group_attr|merge({'class': widget_control_group_attr.class|default('') ~ ' error'}) %}
    {% endif %}
	{% if 'collection' in form.vars.block_prefixes and attr.class is defined %}
		{% set widget_control_group_attr = widget_control_group_attr|merge({'class': widget_control_group_attr.class|default('') ~ ' ' ~ attr.class}) %}
	{% endif %}
    <div {% for attrname,attrvalue in widget_control_group_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
    {# a form item containing the field in block_prefixes is a near subform or a field directly #}
    {% if (form|length > 0 and form.parent != null)
        and 'field' not in form.vars.block_prefixes %}
        {% if show_child_legend%}
            {{ block('form_legend') }}
        {% elseif label_render %}
            {{ form_label(form, label|default(null)) }}
        {% endif %}
    {% else %}
        {% if label_render %}
            {{ form_label(form, label|default(null)) }}
        {% endif %}
    {% endif %}
    {% if widget_controls|default(false) or form.parent == null %}
        {% set widget_controls_attr = widget_controls_attr|merge({'class': widget_controls_attr.class|default('') ~ ' controls'}) %}
        <div {% for attrname,attrvalue in widget_controls_attr %}{{attrname}}="{{attrvalue}}" {% endfor %}>
    {% endif %}
{% else %}
    {% if label_render %}
        {{ form_label(form, label|default(null)) }}
    {% endif %}
{% endif %}
{% endspaceless %}
{% endblock widget_control_group_start %}

{% block widget_control_group_end %}
{% spaceless %}
{% if widget_control_group|default(false) or form.parent == null %}
    {% if widget_controls|default(false) or form.parent == null %}
        </div>
    {% endif %}
    </div>
{% endif %}
{% endspaceless %}
{% endblock widget_control_group_end %}
