{% extends 'form_div_layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{# labels #}

{% block form_legend %}
          <legend>{{ label | trans }}</legend>
{% endblock form_legend %} 

{% block generic_label %}
{% spaceless %}
    {% if required %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
    {% endif %}
    <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
    {{ label|trans }}
    {% if help_label %}{# TODO erstzten durch function form_help) #}
        <span class="help-block">{{ help_label|trans }}</span>
    {% endif %}
    </label>
{% endspaceless %}
{% endblock %}

{# renders a field label without span class, if e.g field has it#}

{% block field_label_attr_aware_label %}
{% spaceless %}
    {% set attr = label_attr|merge({'for': id}) %}
    {{ block('generic_label') }}
{% endspaceless %}
{% endblock field_label_attr_aware_label %}

{# Help #}

{% block field_help %}
    {% if help_inline %}<span class="help-inline">{{ help_inline|trans }}</span>{%endif %}
    {% if help_block %}<span class="help-block">{{ help_block|trans }}</span>{%endif %}
{% endblock field_help %}

{% block field_widget_remove_btn %}
    {% if widget_remove_btn %}
    <input type="button" value="{{ widget_remove_btn }}" onclick="$(this).parents('.clearfix').remove(); return false;">
    {% endif %}
{% endblock field_widget_remove_btn %}

{# Errors #}

{% block form_errors %}{# merge with field errors #}
{% spaceless %}
{# prevent deep nesting wrong context copy error #}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}
    {% for error in errors %}
		{{ flash('error', error.messageTemplate|trans(error.messageParameters, 'validators')) }}
	{% endfor %}
{% endspaceless %}
{% endblock form_errors %}

{% block field_errors %}
{% spaceless %}
    <span class="help-block">
        {% if errors|length > 0 %}
            {% for error in errors %}
                {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br />
            {% endfor %}
        {% endif %}
    </span>
{% endspaceless %}
{% endblock field_errors %}


{# Basic form and field blocks #}

{% block form_widget %}
    {% if prototype is defined %}
    <script type="text/html" {{ block('widget_container_attributes') }}>
        {{ form_row(prototype) }}
    </script>
    {% endif %}
    {% if 'form' in form.get('types') and form.hasParent() == 0 %}
    <div {{ block('widget_container_attributes') }}>
    	<fieldset>
    	{% if show_legend %}{{ block('form_legend') }}{% endif %}
    {% endif %}
        {{ block('field_rows') }}    
        {{ form_rest(form) }}
    {% if 'form' in form.get('types') and form.hasParent() == 0 %}
        </fieldset>
    </div>
    {% endif %}
{% endblock form_widget %}

{% block field_row %}
    {% if not('form' in form.get('types')) %}
    <div class="clearfix {% if errors|length > 0 %}error{% endif %}">
    {% endif %}
        {% if 'form' in form.get('types') and form.hasParent() != 0 %}
            {% if show_child_legend %}
                {{ block('form_legend') }}
            {% endif %}
    	{% else %}
        	{{ block('field_label_attr_aware_label') }}
        {% endif %}
    {% if not ('form' in form.get('types')) %}
        <div class="input">
    {% endif %}
            {% if errors|length > 0 %}
                {% set attr = attr|merge({'class': attr.class|default('') ~ ' error'}) %}
            {% endif %}
            {{ widget_prefix }}
            {{ form_widget(form) }}
            {{ widget_suffix }}
            {{ form_widget_remove_btn(form) }}
    {% if not ('form' in form.get('types')) %}
	        {{ form_help(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
    {% endif %}
{% endblock field_row %}

{% block collection_widget %}
    {{ block('form_widget') }}
{% endblock collection_widget %}

{# Date and Time widgets #}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('field_widget') }}
    {% else %}
    <div class="clearfix {% if errors|length > 0 %}error{% endif %}">
    	{{ form_label(form, label) }}
        <div class="input">
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' inline-inputs'}) %}
	        <div {{ block('widget_container_attributes')  }}>
	            {{ date_pattern|replace({
	                '{{ year }}':  form_widget(form.year),
	                '{{ month }}': form_widget(form.month),
	                '{{ day }}':   form_widget(form.day),
	            })|raw }}
	        </div>
	        {{ block('help') }}
        </div>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('field_widget') }}
    {% else %}
    <div class="clearfix {% if errors|length > 0 %}error{% endif %}">
    	{{ form_label(form, label) }}
        <div class="input">
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' inline-inputs'}) %}
	        <div {{ block('widget_container_attributes') }}>
	            {{ form_errors(form.date) }}
	            {{ form_errors(form.time) }}
	            {{ form_widget(form.date) }}
	            {{ form_widget(form.time) }}
	        </div>
	        {{ form_help(form) }}
        </div>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}


{# basic form widgets #}

{% block radio_widget %}
{% spaceless %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock radio_widget %}

{% block choice_widget %}
{% spaceless %}
    {% if expanded %}
    <div class="clearfix">
    	{{ form_label(form, label) }}
			<div class="input">
			{% set attr = attr|merge({'class': attr.class|default('') ~ ' inputs-list'}) %}
        	<ul {{ block('widget_container_attributes') }}>
	        {% for child in form %}
                <li>
                	<label>
		            	{{ form_widget(child) }}
		            	<span>{{ child.get('label') }}</span>
	                </label>
                </li>
	        {% endfor %}
			</ul>
		</div>
	</div>
    {% else %}
   <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('widget_choice_options') }}
            {% if choices|length > 0 %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('widget_choice_options') }}
    </select>
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}

{% block field_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" />
{% endspaceless %}
{% endblock field_widget %}

{% block textarea_widget %}
{% spaceless %}
	{% set attr = attr %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}


{% block imagefile_widget %}
{% spaceless %}
    {% if errors|length != 0 or value == ''%}
    {% set value = '' %}
    {% set type = type|default('file') %}
    {{ block('field_widget') }}
    {% else %}
        {#% debug form %#}
{#
        <span class="help-inline">
        <a href="{{ path('_partner_deal_image_cropping', {'id': image.vars.value.id, 'slug': 'test'}) }}">
			<img src="{{ image.vars.value.getWebPath() | apply_filter('_partner_thumb') }}"/>
			{{ image.vars.value.cropped ? 'OK' : 'Need to be cropped! Please click here' }}
		</a>
		</span>
#}
    {% endif %}    
{% endspaceless %}
{% endblock imagefile_widget %}
{# widget attributes #}

{% block widget_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if read_only %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %} 
    {% for attrname,attrvalue in attr %}{{attrname}}="{{attrvalue}}" {% endfor %}

{% endspaceless %}
{% endblock widget_attributes %}
